###########################################
# SPRING-BOOT
###########################################

prueba-tecnica-equifax/HELP.md
prueba-tecnica-equifax/target/
prueba-tecnica-equifax/!.mvn/wrapper/maven-wrapper.jar
prueba-tecnica-equifax/!**/src/main/**/target/
prueba-tecnica-equifax/!**/src/test/**/target/

### STS ###
prueba-tecnica-equifax/.apt_generated
prueba-tecnica-equifax/.classpath
prueba-tecnica-equifax/.factorypath
prueba-tecnica-equifax/.project
prueba-tecnica-equifax/.settings
prueba-tecnica-equifax/.springBeans
prueba-tecnica-equifax/.sts4-cache

### IntelliJ IDEA ###
prueba-tecnica-equifax/.idea
prueba-tecnica-equifax/*.iws
prueba-tecnica-equifax/*.iml
prueba-tecnica-equifax/*.ipr

### NetBeans ###
/prueba-tecnica-equifax/nbproject/private/
/prueba-tecnica-equifax/nbbuild/
/prueba-tecnica-equifax/dist/
/prueba-tecnica-equifax/nbdist/
/prueba-tecnica-equifax/.nb-gradle/
prueba-tecnica-equifax/build/
prueba-tecnica-equifax/!**/src/main/**/build/
prueba-tecnica-equifax/!**/src/test/**/build/

### VS Code ###
prueba-tecnica-equifax/.vscode/

###########################################


###########################################
# ANGULAR
###########################################



# Compiled output
/prueba-tecnica-equifax-front/dist
/prueba-tecnica-equifax-front/tmp
/prueba-tecnica-equifax-front/out-tsc
/prueba-tecnica-equifax-front/bazel-out

# Node
/prueba-tecnica-equifax-front/node_modules
prueba-tecnica-equifax-front/npm-debug.log
prueba-tecnica-equifax-front/yarn-error.log

# IDEs and editors
prueba-tecnica-equifax-front/.idea/
prueba-tecnica-equifax-front/.project
prueba-tecnica-equifax-front/.classpath
prueba-tecnica-equifax-front/.c9/
prueba-tecnica-equifax-front/*.launch
prueba-tecnica-equifax-front/.settings/
prueba-tecnica-equifax-front/*.sublime-workspace

# Visual Studio Code
prueba-tecnica-equifax-front/.vscode/*
prueba-tecnica-equifax-front/!.vscode/settings.json
prueba-tecnica-equifax-front/!.vscode/tasks.json
prueba-tecnica-equifax-front/!.vscode/launch.json
prueba-tecnica-equifax-front/!.vscode/extensions.json
prueba-tecnica-equifax-front/.history/*

# Miscellaneous
/prueba-tecnica-equifax-front/.angular/cache
prueba-tecnica-equifax-front/.sass-cache/
/prueba-tecnica-equifax-front/connect.lock
/prueba-tecnica-equifax-front/coverage
/prueba-tecnica-equifax-front/libpeerconnection.log
prueba-tecnica-equifax-front/testem.log
/prueba-tecnica-equifax-front/typings

# System files
prueba-tecnica-equifax-front/.DS_Store
prueba-tecnica-equifax-front/Thumbs.db
